  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Karla&display=swap"
        rel="stylesheet"
      />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap"
        rel="stylesheet"
      />
      <title>Document</title>
    </head>
    <body>
      <footer>
        <img class="footer-img" src="./assets/imgaes/bg-pattern-footer-desktop.svg" alt="" />
        <div class="flex-box">
          <img style="cursor: pointer" src="./assets/imgaes/logo.svg" alt="" />
          <div class="social">
            <a href="" class="icon">
              <img src="/assets/imgaes/icon-facebook.svg" alt="" />
            </a>
            <a href="" class="icon">
              <img src="/assets/imgaes/icon-twitter.svg" alt="" />
            </a>
            <a href="" class="icon">
              <img src="/assets/imgaes/icon-pinterest.svg" alt="" />
            </a>
            <a href="" class="icon">
              <img src="/assets/imgaes/icon-instagram.svg" alt="" />
            </a>
          </div>
        </div>
        <hr />
        <section class="d-flex footer-text">
          <div>
            <p class="title">Our company</p>
            <p>How we work</p>
            <p>Why Insure?</p>
            <p>View plans</p>
            <p>Reviews</p>
          </div>

          <div>
            <p class="title">Help me</p>
            <p>FAQ</p>
            <p>Terms of use</p>
            <p>Privacy policy</p>
            <p>Cookies</p>
          </div>

          <div>
            <p class="title">Contact</p>
            <p>Sales</p>
            <p>Support</p>
            <p>Live chat</p>
          </div>

          <div>
            <p class="title">Others</p>
            <p>Careers</p>
            <p>Press</p>
            <p>Licenses</p>
          </div>
        </section>
      </footer>
    </body>
  </html>
